@import "../../styles/styles.scss";

.oneUp {
  background: #F4F000;
  display: flex;
  flex-direction: column;

    @include small-desktop {
      display: flex;
      flex-direction: row-reverse;
      width: 100%;
      justify-content: space-between;
    }
  
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;

      @include small-desktop {
        max-width: 592px;
        height: 450px;
      }   
    }
  
    &__body {

      h4 {
        @include regular-font;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 110%;   
        letter-spacing: -0.01em;
        color: #000000;
        margin: 40px 20px;

        @include small-desktop {
          margin: 0;
          font-size: 56px;
        }   
      }

      p {
        color:#FE2C55;
        font-weight: 700;
        font-size: 40px;
        margin: 0 20px 55px;
        
        @include small-desktop {
          margin: 0;
          margin-bottom: 40px;
          text-decoration: none;
          font-size: 56px;
        }
      } 
      
      @include small-desktop{
        max-width: 641px;
        margin-top: 87px;
        margin-left: 64px;
        margin-bottom: 40px
      }    
    }
   
    .card {
      &__button {       
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 15px 20px; 
        background: #FE2C55;
        border: 2px solid #FE2C55;
        box-sizing: border-box;
        border-radius: 100px;
        color: white;
        cursor: pointer;
        text-decoration: none;
        margin-left: 22px;
        margin-bottom: 40px;
        width: 131px;

       @include small-desktop{
          margin-left: 0;
        }
      }   
    }
}